<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
      <img src="{{ site.baseurl }}/Sroivas.png" alt="Shannon Roivas" class="sidebar-photo" />
    </div>

   <p>{{ "Arizona State University" }}
     <a href="{{ https://iho.asu.edu/ }}">
          {{ "Institute of Human Origins" }}
        </a>
     {{ "SRoivas@asu.edu" }}
      </p>

    <!--  <p>&copy; {{ site.time | date: '%Y' }}.</p> -->
  </div>
</div>
